SANITY_STUDIO_PROJECT_ID=1k8yld2r
SANITY_STUDIO_DATASET=production

# Solo para npm run seed
SANITY_PROJECT_ID=1k8yld2r
SANITY_DATASET=production
# Obligatorio para npm run seed (no commitear token real)
SANITY_API_TOKEN=
